@font-face {
  font-family: 'SHKODER 1989';
  src: url("../typog/shkoder1989/blk/Shkoder_1989_Black.eot");
  src: url("../typog/shkoder1989/blk/Shkoder_1989_Black.eot?#iefix") format("embedded-opentype"), url("../typog/shkoder1989/blk/Shkoder_1989_Black.woff") format("woff"), url("../typog/shkoder1989/blk/Shkoder_1989_Black.ttf") format("truetype"), url("../typog/shkoder1989/blk/Shkoder_1989_Black.svg#c227bd4a80b39278d1ca442caf1a23c2") format("svg");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'SHKODER 1989';
  src: url("../typog/shkoder1989/lit/Shkoder_1989_Light.eot");
  src: url("../typog/shkoder1989/lit/Shkoder_1989_Light.eot?#iefix") format("embedded-opentype"), url("../typog/shkoder1989/lit/Shkoder_1989_Light.woff") format("woff"), url("../typog/shkoder1989/lit/Shkoder_1989_Light.ttf") format("truetype"), url("../typog/shkoder1989/lit/Shkoder_1989_Light.svg#5908d5e4a26b9f3f2247dd1a40b01b2a") format("svg");
  font-style: normal;
  font-weight: 200; }

@font-face {
  font-family: 'Heebo Thin';
  src: url("../typog/pale-hebrew/Heebo-Thin_Paleo.eot");
  src: url("../typog/pale-hebrew/Heebo-Thin_Paleo.eot?#iefix") format("embedded-opentype"), url("../typog/pale-hebrew/Heebo-Thin_Paleo.woff") format("woff"), url("../typog/pale-hebrew/Heebo-Thin_Paleo.ttf") format("truetype"), url("../typog/pale-hebrew/Heebo-Thin_Paleo.svg#3871f0234936d915bd652dc213932212") format("svg");
  font-style: normal;
  font-weight: 200; }

.paleo-hebrew {
  font-family: 'Heebo Thin';
  font-weight: 200; }

/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  box-sizing: border-box; }

html {
  color: #333;
  font-size: 2em;
  line-height: 1.4;
  font-family: 'SHKODER 1989';
  font-weight: 200; }

body {
  margin: 0; }

h1 {
  font-size: 3.4em;
  line-height: 1.1;
  margin-top: 1.4em; }

h6,
small {
  font-weight: 200;
  color: #db0000;
  display: block;
  font-size: 67%; }

big {
  font-size: 400%; }

/*
 * Anchor Pseudo-classes
 * Must be in specific order of :link, :visited, :hover, :active to work 
 */
a:link {
  color: #eb0000; }

a:visited {
  color: #b80000; }

a:hover {
  color: #c70000; }

a:active {
  color: #ff0f0f; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #c70000;
  text-shadow: none; }

::selection {
  background: #c70000;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.frameworks {
  position: relative;
  display: block;
  width: 100%; }

.flexbox-50 {
  min-width: 245px;
  width: 50%;
  float: left;
  padding: 0 4% 0 1%;
  border-left: 1px dashed #ff4747; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * align text from right to left - ain't shint C-Squirrel style 
 */
.rtl {
  direction: rtl; }

/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *	causes content to wrap 1 word per line:
 *	https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	`contenteditable` attribute is included anywhere else in the document.
 *	Otherwise it causes space to appear at the top and bottom of elements
 *	that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	`:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: ' ';
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: ''; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*
**(_COLORS:)_								*/
/*
**(_CUBIC BEZIER EASING CURVES:)_			*/
/*
**(_GRID SPECS:)_			*/
#mainScrolls, #mainScrolls > section, #scrollVisualizer > div {
  display: block;
  position: relative;
  width: 100%; }

#nonScroll {
  position: fixed;
  width: 100%;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  perspective: 65em;
  perspective-origin: 50% calc(50% - 11em);
  background: #fff; }

#nonScroll div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d; }

.grid-3d {
  transform: rotateY(-45deg) translate3d(-11.36em, 1.42em, -2.84em); }

.horizon {
  margin: -88.5vmax;
  width: 177vmax;
  height: 177vmax;
  transform: rotateX(90deg) translateZ(-3.55em);
  background: radial-gradient(rgba(255, 255, 255, 0) 34%, #fff 77%), linear-gradient(rgba(133, 33, 33, 0.33) 0.1em, transparent 0), linear-gradient(90deg, rgba(133, 33, 33, 0.33) 0.1em, transparent 0), linear-gradient(135deg, rgba(255, 255, 255, 0) 0, #db0000 100%);
  background-position: 50% 50%;
  background-size: 100%, 1.42em 1.42em, 1.42em 1.42em, 100%; }

#mainScrolls {
  z-index: 1;
  overflow-x: hidden; }

#mainScrolls > section {
  z-index: 3;
  background-color: #fff;
  height: auto;
  min-height: 100vh; }

#mainScrolls > section > div,
#mainScrolls > section > div > div {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none; }

#mainScrolls > section > div {
  height: 100%;
  z-index: -2;
  display: none; }

#mainScrolls > section.active > div,
#mainScrolls > section.active-next > div {
  display: block; }

#mainScrolls > section > div > div {
  top: 0;
  width: 25%;
  left: 25%;
  background: transparent;
  -webkit-transition: top 2200ms cubic-bezier(0.11, 1, 0.33, 1);
  transition: top 2200ms cubic-bezier(0.11, 1, 0.33, 1); }

#mainScrolls > section > div > div:nth-child(1) {
  left: 0%; }

#mainScrolls > section > div > div:nth-child(2) {
  left: 25%; }

#mainScrolls > section > div > div:nth-child(3) {
  left: 50%; }

#mainScrolls > section > div > div:nth-child(4) {
  left: 75%; }

#mainScrolls > section.active {
  border-bottom: 1px dashed rgba(255, 0, 0, 0.5); }

#mainScrolls > section.active-next {
  border-bottom: 1px dotted rgba(255, 0, 0, 0.5); }

#mainScrolls > section::after {
  bottom: 15%;
  width: 23%;
  text-align: right;
  display: block;
  left: 1%;
  position: absolute; }

#mainScrolls > section:nth-child(1) {
  background-color: white;
  color: black; }

#mainScrolls > section:nth-child(1) > div > div {
  background-color: white;
  border-right: 1px dotted rgba(0, 0, 0, 0.1); }

#mainScrolls > section:nth-child(1)::after {
  content: ".01^ ";
  font-size: 0.55em; }

#mainScrolls > section:nth-child(2) {
  background-color: black;
  color: white; }

#mainScrolls > section:nth-child(2) > div > div {
  background-color: black;
  border-right: 1px dotted rgba(255, 255, 255, 0.1); }

#mainScrolls > section:nth-child(2)::after {
  content: ".02^ ";
  font-size: 1.1em; }

#mainScrolls > section:nth-child(3) {
  background-color: white;
  color: black; }

#mainScrolls > section:nth-child(3) > div > div {
  background-color: white;
  border-right: 1px dotted rgba(0, 0, 0, 0.1); }

#mainScrolls > section:nth-child(3)::after {
  content: ".03^ ";
  font-size: 1.65em; }

#mainScrolls > section:nth-child(4) {
  background-color: black;
  color: white; }

#mainScrolls > section:nth-child(4) > div > div {
  background-color: black;
  border-right: 1px dotted rgba(255, 255, 255, 0.1); }

#mainScrolls > section:nth-child(4)::after {
  content: ".04^ ";
  font-size: 2.2em; }

#mainScrolls > section:nth-child(5) {
  background-color: white;
  color: black; }

#mainScrolls > section:nth-child(5) > div > div {
  background-color: white;
  border-right: 1px dotted rgba(0, 0, 0, 0.1); }

#mainScrolls > section:nth-child(5)::after {
  content: ".05^ ";
  font-size: 2.75em; }

#mainScrolls > section:nth-child(6) {
  background-color: black;
  color: white; }

#mainScrolls > section:nth-child(6) > div > div {
  background-color: black;
  border-right: 1px dotted rgba(255, 255, 255, 0.1); }

#mainScrolls > section:nth-child(6)::after {
  content: ".06^ ";
  font-size: 3.3em; }

#mainScrolls > section:nth-child(7) {
  background-color: white;
  color: black; }

#mainScrolls > section:nth-child(7) > div > div {
  background-color: white;
  border-right: 1px dotted rgba(0, 0, 0, 0.1); }

#mainScrolls > section:nth-child(7)::after {
  content: ".07^ ";
  font-size: 3.85em; }

#mainScrolls > section:nth-child(8) {
  background-color: black;
  color: white; }

#mainScrolls > section:nth-child(8) > div > div {
  background-color: black;
  border-right: 1px dotted rgba(255, 255, 255, 0.1); }

#mainScrolls > section:nth-child(8)::after {
  content: ".08^ ";
  font-size: 4.4em; }

#mainScrolls > section:nth-child(1) {
  background-color: transparent; }

/*
#mainScrolls > section:last-child {
	margin-bottom: 77vh;
}
*/
.article {
  top: 0;
  position: relative;
  z-index: 11;
  margin: 0;
  padding: 5% 12.5% 37.5%;
  -webkit-transition: top 2200ms cubic-bezier(0.11, 1, 0.33, 1);
  transition: top 2200ms cubic-bezier(0.11, 1, 0.33, 1); }

.center-stage {
  text-align: center; }

.figure {
  display: inline-block;
  position: relative;
  padding: 5%;
  margin: 10% 0;
  border: 1px solid rgba(0, 0, 0, 0.14);
  background: #fff;
  text-align: center; }

.figure::before {
  content: ' ';
  position: absolute;
  z-index: -1;
  display: block;
  width: 300%;
  left: -100%;
  height: 1%;
  top: 77%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-left: 0;
  border-right: 0; }

.figure img {
  width: 50%;
  height: auto; }

#scrollVisualizer {
  position: fixed;
  display: block;
  z-index: 101;
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 4px;
  width: .5%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.58); }

#scrollVisualizer > div {
  height: 11px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.67);
  border-bottom: 1px solid rgba(0, 0, 0, 0.89); }

#scrollVisualizer > div:nth-child(1) {
  opacity: 0.07; }

#scrollVisualizer > div:nth-child(2) {
  opacity: 0.14; }

#scrollVisualizer > div:nth-child(3) {
  opacity: 0.21; }

#scrollVisualizer > div:nth-child(4) {
  opacity: 0.28; }

#scrollVisualizer > div:nth-child(5) {
  opacity: 0.35; }

#scrollVisualizer > div:nth-child(6) {
  opacity: 0.42; }

#scrollVisualizer > div:nth-child(7) {
  opacity: 0.49; }

#scrollVisualizer > div:nth-child(8) {
  opacity: 0.56; }

#scrollLocation {
  background-color: rgba(255, 0, 0, 0.6);
  border: 1px solid rgba(171, 171, 171, 0.5);
  border-radius: 0 33px;
  display: block;
  height: 33px;
  left: 25%;
  position: absolute;
  top: 50%;
  width: 150%; }

#verboseReader {
  background: #ff0000;
  bottom: 0;
  display: block;
  min-width: 160px;
  position: fixed;
  right: 0;
  top: 0;
  width: 20%;
  z-index: 101; }

#verboseReader > section {
  background: #ff0000;
  border: 3px dotted #000;
  left: 5%;
  padding: 5%;
  position: fixed;
  top: 5%;
  transform: scale(0.16);
  transform-origin: 100% 0;
  width: 90%; }

#verboseReader > section:nth-child(1) {
  top: 20%; }

#verboseReader > section:nth-child(2) {
  top: 40%; }

#verboseReader > section:nth-child(3) {
  top: 60%; }

#verboseReader > section h2 {
  font-size: 3rem;
  margin: 0; }

#verboseReader > section.read {
  border: 1px dotted #fff;
  height: 90%;
  overflow-y: scroll;
  top: 5%;
  transform: scale(1); }


/*# sourceMappingURL=app.css.map*/